@font-face {
  font-family: "iconfont"; /* Project id 2057535 */
  src: url('iconfont.woff2?t=1620789532827') format('woff2'),
       url('iconfont.woff?t=1620789532827') format('woff'),
       url('iconfont.ttf?t=1620789532827') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconnotice:before {
  content: "\e616";
}

.icondaiyue:before {
  content: "\e63f";
}

.iconzhongyaojihui:before {
  content: "\e66b";
}

.iconxinwen:before {
  content: "\e611";
}

.iconzhinenghua:before {
  content: "\e7a3";
}

.iconcaiwu:before {
  content: "\e60b";
}

.iconxinxi:before {
  content: "\e627";
}

.icondaiban:before {
  content: "\e650";
}

.iconHR:before {
  content: "\e62e";
}

.icongongzichaxun:before {
  content: "\e612";
}

.iconrenliziyuan:before {
  content: "\e619";
}

.icondangjianhudongbaike:before {
  content: "\e6bb";
}

.icondangjianhuodong:before {
  content: "\e6bc";
}

.iconliucheng:before {
  content: "\e670";
}

.icondangjian:before {
  content: "\e608";
}

.icondongtai:before {
  content: "\e651";
}

.icontongxunlu:before {
  content: "\e622";
}

.iconcrew_feature:before {
  content: "\e605";
}

.icon31gongyegongcheng_zhineng:before {
  content: "\e671";
}

.icon001-mailinboxapp:before {
  content: "\e68a";
}

.iconclose-eye:before {
  content: "\e79c";
}

.iconlingxing:before {
  content: "\e62d";
}

.iconcircle:before {
  content: "\e64f";
}

.iconshixinzhengfangxing:before {
  content: "\e607";
}

.iconzhongdian:before {
  content: "\e610";
}

.iconkakou:before {
  content: "\e69a";
}

.iconqidian:before {
  content: "\e60f";
}

.icondaolu:before {
  content: "\e615";
}

.iconshanghaifengxiangwangluokejiyouxiangongsishangbiaotuxing:before {
  content: "\e604";
}

.iconshezhi2:before {
  content: "\e62c";
}

.iconkeji1:before {
  content: "\e606";
}

.iconwajueji:before {
  content: "\e602";
}

.iconqizhi:before {
  content: "\e603";
}

.iconjilu:before {
  content: "\e6af";
}

.iconjianzhu:before {
  content: "\e600";
}

