@import "./variables";
// color
@each $colorKey, $color in $colors {
  .text-#{$colorKey} {
    color: $color;
  }
}
// font-size
@each $sizeKey, $size in $font-sizes {
  .fs-#{$sizeKey} {
    font-size: $size * $base-font-size;
  }
}
// margin left
@for $i from 1 through $mp-listnum {
  .ml#{$i*5} {
    margin-left: 5px * $i;
  }
}
// margin right
@for $i from 1 through $mp-listnum {
  .mr#{$i*5} {
    margin-right: 5px * $i;
  }
}
// margin top
@for $i from 1 through $mp-listnum {
  .mt#{$i*5} {
    margin-top: 5px * $i;
  }
}
// margin bottom
@for $i from 1 through $mp-listnum {
  .mb#{$i*5} {
    margin-bottom: 5px * $i;
  }
}
// margin
@for $i from 1 through $mp-listnum {
  .mg#{$i*5} {
    margin: 5px * $i;
  }
}

// padding left
@for $i from 1 through $mp-listnum {
  .pl#{$i*5} {
    padding-left: 5px * $i;
  }
}
// padding right
@for $i from 1 through $mp-listnum {
  .pr#{$i*5} {
    padding-right: 5px * $i;
  }
}
// padding top
@for $i from 1 through $mp-listnum {
  .pt#{$i*5} {
    padding-top: 5px * $i;
  }
}
// padding bottom
@for $i from 1 through $mp-listnum {
  .pb#{$i*5} {
    padding-bottom: 5px * $i;
  }
}
// padding
@for $i from 1 through $mp-listnum {
  .pd#{$i*5} {
    padding: 5px * $i;
  }
}

// font-size
@for $i from 1 through $font-sizes-listnum {
  .fs#{6 + $i*2} {
    font-size: 6px + $i * 2;
  }
}

.boxSizing {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
// fixedTop
.fixedTop {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10000;
}

// fixedBottom
.fixedBottom {
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 10000;
}

// 划分为10等分宽高
@for $i from 1 through $wh-listnum {
  .width-#{$i} {
    width: 100% / $wh-listnum * $i;
  }
}

@for $i from 1 through $wh-listnum {
  .height-#{$i} {
    height: 100% / $wh-listnum * $i;
  }
}

//
@each $typeKey, $type in $align-type {
  .row-#{$typeKey} {
    display: flex;
    flex-direction: row;
    justify-content: $type;
  }
}

//
@each $typeKey, $type in $align-type {
  .col-#{$typeKey} {
    display: flex;
    flex-direction: column;
    justify-content: $type;
  }
}

.center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.flexTwoEnd {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.flexStart {
  display: flex;
  flex-direction: row;
}
.flexStartCol {
  display: flex;
  flex-direction: column;
}
.flexCenterCol {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

.single-feature {
  // padding: 0px 10px;
  background: $dark;
  @include transition(0.3s);
  &:hover {
    background: $light;
    box-shadow: 0px 10px 30px $shadow;
  }
}
// 下划线隔开
.border-b {
  border-bottom: 1px dotted rgba(0, 0, 0, 0.6);
}

// 文字居中对齐
.tc {
  text-align: center;
}

// 下列是拷贝别人的

.anchorBL {
  display: none;
}

.custom-select /deep/.el-input__inner {
  border: 0px;
  background-color: rgb(50, 48, 145);
  font-family: PingFangSC-Regular;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.7);
}

.vision-select /deep/.el-input__inner {
  border: 0px;
  background-color: rgb(50, 48, 145);
  font-family: PingFangSC-Regular;
  font-size: 1.54vmin;
  color: rgba(255, 255, 255, 0.7);
}

.vision-select /deep/.el-input--mini .el-input__inner {
  height: 2.8vmin;
  line-height: 2.8vmin;
}

.vision-popper /deep/.el-select-dropdown__item {
  height: 3.6286vmin;
  line-height: 3.6286vmin;
  min-height: 34px;
  font-size: 1.54vmin;
}

.custom-radio /deep/.el-radio-button__inner {
  background: rgb(95, 65, 197);
  color: rgba(255, 255, 255, 0.7);
  border-color: rgb(95, 65, 197);
}
.custom-radio /deep/.el-radio-button--mini .el-radio-button__inner {
  font-size: 1.54vmin;
}
.custom-table.dv-scroll-board /deep/.row-item div {
  font-size: 36px;
}

.custom-table.dv-scroll-board /deep/.header .header-item {
  font-size: 36px;
}
